.primary_btn {
  position: relative;
  left: -340px;
  padding: 18px 10px;
  background-color: black;
  color: white;
  border-radius: 35px;
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 120px;
  font-size: 16px;
  justify-content: center;
  cursor: pointer;
}
